input {
  margin: 5px;
  padding: 5px;
}
button {
  margin: 5px;
  padding: 6px 10px;
  background-color: #357edd;
  color: white;
  border: none;
  border-radius: 4px;
}
button:hover {
  background-color: #285bb5;
}
